<%= form_for(@vehicle, html: { multipart: true }) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2>Присутствуют следующие ошибки:</h2>
      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>  

   <div class="form-group">
      <label class="col-sm-3 control-label" for="vehicle_region">Регион:</label>
      <div class="col-sm-4">
        <%= f.select :region_id, options_for_select(Region.all.collect {|region| [region.name, region.id]},0),{:include_blank => "Выберите регион..."}, {class: "form-control input-sm", type: "text"} %>
      </div>
    </div>

    <div style="display: none;" id="city" class="form-group">
      <label class="col-sm-3 control-label" for="vehicle_city">Город:</label>
      <div class="col-sm-4">
        <%= f.select :city_id, options_for_select({},0),{:include_blank => "Выберите город..."},{class: "form-control input-sm", type: "text"} %>
      </div>
    </div>

    <div class="form-group" id="model_section">
      <%= render 'shared/model_and_brand', f: f %>
    </div>    

    <div class="form-group">
      <label class="col-sm-3 control-label" for="car_type">Тип авто</label>
      <div class="col-sm-4">
        <%= f.select :vehicle_type, {},{:include_blank => "Выберите тип..."},{class: "form-control input-sm"} do %>
          <% ["Автобетоносмеситель","Автобус","Автокран","Бульдозер","Буровая установка","Грузовик","Коммунальная техника",
              "Легкий транспорт","Погрузчик","Прицеп","Сельхозтехника",
              "Строительная техника","Самосвал","Техника для лесозаготовки","Тягач","Фургон",
              "Экскаватор"].each do |x| -%>
              <%= content_tag(:option, x) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Год выпуска</label>
      <div class="col-sm-4">
        <%= f.number_field :year, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="probeg">VIN/Заводской номер:</label>
      <div class="col-sm-4">
        <%= f.text_field :vin_code, class: "form-control input-sm " %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Пробег(км)</label>
      <div class="col-sm-4">
        <%= f.text_field :mileage, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Тип двигателя</label>
      <div class="col-sm-4">
        <%= f.select :engine, {},{},{class: "form-control input-sm"} do %> 
          <% ["Бензин","Дизель","Гибрид","Электро","Газ"].each do |x| -%>
              <%= content_tag(:option, x) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Объем(л)</label>
      <div class="col-sm-4">
        <%= f.text_field :engine_cap, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Наработка(часов)</label>
      <div class="col-sm-4">
        <%= f.number_field :h_of_use, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Состояние</label>
      <div class="col-sm-4">
        <%= f.select :status, {},{},{class: "form-control input-sm"} do %>
          <% ["Отличное","Хорошее","Удовлетворительное","Плохое"].each do |x| -%>
            <%= content_tag(:option, x) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
       <label class="col-sm-3 control-label" for="vehicle_photos">Фото</label>
       <div class="col-sm-4">
          <%= file_field_tag "photos[]", type: :file, multiple: true %>
       </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_desc">Описание</label>
      <div class="col-sm-4">
        <%= f.text_area :description, class: "form-control", cols: 50, rows: 7  %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="price">Цена:</label>
      <div class="col-sm-4">
        <%= f.text_field :price, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4 col-lg-offset-2">
        <%= f.submit "Создать", class: "btn btn-primary"%>
      </div>
    </div>
  </fieldset>
<% end %>
