<tr>
    <td class="text-primary">
        Тип техники
    </td>
    <td>
        <%= @vehicle.vehicle_type %>
    </td>
</tr>

<tr>
    <td class="text-primary">
        Пробег (км.)
    </td>
    <td>
        <%= @vehicle.mileage %>
    </td>
</tr>
<tr>
    <td class="text-primary">
        Двигатель
    </td>
    <td>
        <%= @vehicle.engine %>
    </td>
</tr>

<tr>
    <td class="text-primary">
        Объем двигателя (л.)
    </td>
    <td>
        <%= @vehicle.engine_cap %>
    </td>
</tr>
<tr>
    <td class="text-primary">
        Наработка (часов) 
    </td>
    <td>
        <%= @vehicle.h_of_use %>
    </td>
</tr>