<tr>
    <td class="text-primary">
        Тип кузова
    </td>
    <td>
        <%= @vehicle.vehicle_type %>
    </td>
</tr>

<tr>
    <td class="text-primary">
        Пробег (км.)
    </td>
    <td>
        <%= @vehicle.mileage %>
    </td>
</tr>
<tr>
    <td class="text-primary">
        Коробка
    </td>
    <td>
        <%= @vehicle.kpp %>
    </td>
</tr>
<tr>
    <td class="text-primary">
        Двигатель
    </td>
    <td>
        <%= @vehicle.engine %>
    </td>
</tr>

<tr>
    <td class="text-primary">
        Объем двигателя (л.)
    </td>
    <td>
        <%= @vehicle.engine_cap %>
    </td>
</tr>
<tr>
    <td class="text-primary">
        Привод
    </td>
    <td>
        <%= @vehicle.drive %>
    </td>
</tr>